@model IEnumerable<GenericExamBasicDetailsVM>
@{
    ViewData["Title"] = "Exams";
    if (User.IsInRole("Teacher"))
    {
        Layout = "_TeacherLayout";
    }
}

<h1>Exams</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa fa-search-plus"></i>
                    </a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fa fa-edit"></i>
                    </a> |
                    <form asp-action="Delete" asp-route-id="@item.Id" asp-route-returnAction="@Actions.List" id="deleteForm@(item.Id)" style="display:inline">
                        <a value="Delete" style="cursor:pointer" onclick="deleteExam('@item.Title','@item.Id')">
                            <i class="fa fa-trash"></i>
                        </a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript">

        function deleteExam(name, id) {
            swal({
                title: "Are you sure?",
                text: `You will not be able to recover this exam: ${name}`,
                icon: "warning",
                dangerMode: true,
                buttons: ["Cancel", "Confirm"]
            }).then(function (isConfirm) {
                if (isConfirm) {
                    document.querySelector("#deleteForm" + id).submit();
                }
            });

        }
    </script>
}